/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/public/upload/
/public/js
/public/vendor/
/public/fonts/
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
